.jumbotron-banner {
    background: url(../assets/img/queen.jpg) no-repeat center;
    background-size: cover;
    color:black;
    padding-top: 12rem
  }
  
  .jumbotron {
    margin-bottom: 30px;
  }